<div class="container">
  <div>
    <mat-form-field class="margin example-full-width">
      <mat-label> Search customer </mat-label>
      <input matInput [(ngModel)]="searchCustomer" (keyup)="searchCustomerKeyUp()" placeholder="Customer name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="margin example-full-width">
      <mat-label>Search order number</mat-label>
      <input matInput placeholder="Order number" [(ngModel)]="searchOrder" (keyup)="searchOrderKeyUp()">
    </mat-form-field>
  </div>
</div>

<app-order-form [updateOrder$]="updateOrder$" [addOrder$]="addOrder$"></app-order-form>

<table mat-table id="data-table" [dataSource]="order$">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let order; columns: columnsToDisplay" (click)="triggerChildFunction(order)"></tr>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id</th>
    <td mat-cell class="table-cell" *matCellDef="let order">{{order.id}}</td>
  </ng-container>

  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef> customer</th>
    <td mat-cell class="table-cell" *matCellDef="let order">{{order.customer}}</td>
  </ng-container>

  <ng-container matColumnDef="orderNumber">
    <th mat-header-cell *matHeaderCellDef> orderNumber</th>
    <td mat-cell class="table-cell" *matCellDef="let order">{{order.orderNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="cuttingDate">
    <th mat-header-cell *matHeaderCellDef> cuttingDate</th>
    <td mat-cell class="table-cell" *matCellDef="let order">{{order.cuttingDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="preparationDate">
    <th mat-header-cell *matHeaderCellDef> preparationDate</th>
    <td mat-cell class="table-cell" *matCellDef="let order">{{order.preparationDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="bendingDate">
    <th mat-header-cell *matHeaderCellDef> bendingDate</th>
    <td mat-cell class="table-cell" *matCellDef="let order">{{order.bendingDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="assemblyDate">
    <th mat-header-cell *matHeaderCellDef> assemblyDate</th>
    <td mat-cell class="table-cell" *matCellDef="let order">{{order.assemblyDate | date}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> action </th>
    <td mat-cell class="table-cell" *matCellDef="let order">
      <button class="transparent">
        <mat-icon (click)="deleteOrder(order)">delete</mat-icon>
      </button>
    </td>
  </ng-container>

</table>