<div class="container">
  <div>
    <mat-form-field class="margin example-full-width">
      <mat-label> Search customer </mat-label>
      <input matInput [(ngModel)]="searchCustomer" (keyup)="searchCustomerKeyUp()" placeholder="Customer name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="margin example-full-width">
      <mat-label>Search order number</mat-label>
      <input matInput placeholder="Order number" [(ngModel)]="searchOrder" (keyup)="searchOrderKeyUp()">
    </mat-form-field>
  </div>
</div>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="margin example-full-width" *ngFor="let input of columnsToDisplay.slice(1,3); let i = index">
    <mat-label>{{input}}</mat-label>
    <input matInput type="text" formControlName="{{input}}">
  </mat-form-field>
  <mat-form-field class="margin example-full-width" *ngFor="let input of columnsToDisplay.slice(3); let i = index">
    <mat-label>{{input}}</mat-label>
    <input matInput [matDatepicker]="picker" type="date" formControlName="{{input}}" placeholder="">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="button example-button-row">
    <button color="accent" mat-raised-button type="submit">Save</button>
  </div>
</form>

<table mat-table id="data-table" [dataSource]="order$">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell class="table-cell" *matCellDef="let order" (click)="formFill(order)">{{order[column]}}</td>
  </ng-container>
</table>